<div class="upload-container">
    <div class="form-group">
      <label>选择Excel文件:</label>
      <input type="file" multiple (change)="onFileSelect($event)" accept=".xlsx,.xls,.csv" class="form-control">
    </div>
    
    <div class="uploaded-files" *ngIf="selectedFiles.length > 0">
      <h3>已上传文件：</h3>
      <div class="file-list">
        <div *ngFor="let file of selectedFiles; let i = index" class="file-item">
          <span class="file-name">{{ file.name }}</span>
          <button class="remove-btn" (click)="removeFile(i)">
            ✕
          </button>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label>API Key:</label>
      <input type="text" [(ngModel)]="apiKey" placeholder="请输入API Key" class="form-control">
    </div>
    
    <div class="form-group">
        <label>
            <input type="checkbox" [(ngModel)]="usePandasAi"> 使用PandasAI模式
        </label>
    </div>
</div>